<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Forum</servlet-name>
		<servlet-class>com.full.ForumServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Forum</servlet-name>
		<url-pattern>/forum</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>CheckMail</servlet-name>
		<servlet-class>com.full.CheckEMailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckMail</servlet-name>
		<url-pattern>/CheckEMailServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CheckUser</servlet-name>
		<servlet-class>com.full.CheckUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckUser</servlet-name>
		<url-pattern>/CheckUserServlet</url-pattern>
	</servlet-mapping>
			    <servlet>
		<servlet-name>ForgotPassword</servlet-name>
		<servlet-class>com.full.ForgotPasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgotPassword</servlet-name>
		<url-pattern>/forgotpassword</url-pattern>
	</servlet-mapping>
	  <servlet>
		<servlet-name>signUp</servlet-name>
		<servlet-class>com.full.SignUpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>signUp</servlet-name>
		<url-pattern>/SignUp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>passwordRecovery</servlet-name>
		<servlet-class>com.full.PasswordRecoveryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>passwordRecovery</servlet-name>
		<url-pattern>/PasswordRecoveryServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>askQuestion</servlet-name>
		<servlet-class>com.full.AskQuestionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>askQuestion</servlet-name>
		<url-pattern>/AskQuestion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>retrieveQuestion</servlet-name>
		<servlet-class>com.full.RetriveQuestionsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>retrieveQuestion</servlet-name>
		<url-pattern>/RetrieveQuestions</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>retrieveAnswerQuestion</servlet-name>
		<servlet-class>com.full.AnswerQuestionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>retrieveAnswerQuestion</servlet-name>
		<url-pattern>/RetrieveAnswerQuestion</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>checkingLogin</servlet-name>
		<servlet-class>com.full.CheckingLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>checkingLogin</servlet-name>
		<url-pattern>/CheckingLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>postAnswer</servlet-name>
		<servlet-class>com.full.PostAnswerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>postAnswer</servlet-name>
		<url-pattern>/PostAnswer</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>retrieveAnswers</servlet-name>
		<servlet-class>com.full.RetrieveAnswersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>retrieveAnswers</servlet-name>
		<url-pattern>/RetrieveAnswers</url-pattern>
	</servlet-mapping>
			<servlet>
		<servlet-name>singUpConfirmationServlet</servlet-name>
		<servlet-class>com.full.SignUpConfirmationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>singUpConfirmationServlet</servlet-name>
		<url-pattern>/SingUpConfirmationServlet</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>searchQuestionsServlet</servlet-name>
		<servlet-class>com.full.SearchQuestionsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchQuestionsServlet</servlet-name>
		<url-pattern>/SearchQuestionsServlet</url-pattern>
	</servlet-mapping>
			<servlet>
		<servlet-name>submitCommentServlet</servlet-name>
		<servlet-class>com.full.SubmitCommentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>submitCommentServlet</servlet-name>
		<url-pattern>/SubmitComment</url-pattern>
	</servlet-mapping>
				<servlet>
		<servlet-name>submitVoteServlet</servlet-name>
		<servlet-class>com.full.SubmitVoteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>submitVoteServlet</servlet-name>
		<url-pattern>/SubmitVote</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>homepage.jsp</welcome-file>
	</welcome-file-list>
	<listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
</listener> 
<context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/log4j.properties</param-value>
</context-param>
</web-app>
